body{
    background-color: cyan;
}
div {
    border: 2px solid red;
    margin: 15px 0px 0px 25px;
    /* margin-left: 100px; */

    padding-top: 10px;
}

nav {
    border: 3px solid black;
}

img {
    width: 100px; 
}

/* nav {
    margin-left: 150px;
} */

.batas {
    margin-left: 100px;
}
.warna {
    background-color: yellow;
}
#background {
    background-color: red;
    position: sticky;
    top: 150px;
}